<div class="app-color-prime rounded container">
    <div class="col-sm-8">
        <h3>{{title}}</h3>
        <h5 class="text-white text=muted">{{submissionDate}}</h5>
    </div>
    <div class="col-sm-4">
        <p>{{approve}}</p>
        <button class="btn-info" data-toggle="modal">Read</button>
    </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{text}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>z