<a class="dropdown-item text-white" sec:authorize="!hasAuthority('PARTNER')" href="/publishers/register" th:text="|Become partner|"></a>
<a class="dropdown-item text-white" sec:authorize="hasAuthority('PARTNER')" href="/books/add" th:text="|Add game|"></a>
<a class="dropdown-item text-white" sec:authorize="hasAuthority('PARTNER')" href="/authors/add" th:text="|Add author|"></a>
<a class="dropdown-item text-white" sec:authorize="hasAuthority('PARTNER')" href="/books/published" th:text="|Published books|"></a>