body{
    display: flex;
}

a.book-list-element:hover, a.book-list-element:visited, a.book-list-element:link, a:active
{
    text-decoration: none;
}

.app-color-prime {
    background-color: #171A21;
}

.app-color-secondary {
    background-color: #333333;
}

.app-color-third {
    background-color: ghostwhite;
}
.app-color-error{
   background-color: #FFB6C1;
}

.nav {
    margin-bottom: 20px;
}

.footer {
    line-height: 60px;
    margin-top: auto;
}

hr.home
{
    height: 2px;
    background-color: black;
}

hr.form-line {
    height: 2px;
    border-color: #AFEEEE;
    background-color: #AFEEEE;
}

div.form-group{
    margin-bottom:35px
}

.invalid-feedback {
    height: 0px;
}

input.form-control{
     background-color: #818182;
}

input.form-control:focus{
    background-color: #818182;
}

input.form-control::placeholder{
    color: gainsboro;
}

textarea.form-control{
    background-color: #818182;
}

textarea.form-control:focus{
    background-color: #818182;
}

textarea.form-control::placeholder{
    color: gainsboro;
}
.nav-item:hover{
    background-color: #333333;
}

.dropdown-item:hover{
    background-color: #333333;
}

.w-85{
    width: 85%;
}

.w-35{
    width: 35%;
}

.w-15{
    width: 15%;
}

.w-10{
     width: 10%;
}

.w-5{
    width: 5%;
}
.h-95{
     height: 95%;
 }

.h-90{
    height: 90%;
}

.h-85{
    height: 85%;
}

.h-15{
    height: 15%;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img.list-image {
    height: 110px;
    width: 80px;
}

.book-list-element{
    display: inline-block;
}

.details-box{
    height: 750px;
    width: 750px;
}

.front-page-img {
    height: 250px;
    width: 200px;
}
