<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<div class="container-fluid justify-content-around app-color rounded">
    <div class="jumbotron app-color">
        <h1>Eventures - The best ticket service in the world. </h1>
        <hr class="home"/>
        <h3><a href="/users/login" th:text="Login"></a> to start "eventing".</h3>
        <h3><a href="/users/register" th:text="Register"></a> if you don't have an account.</h3>
        <div>
        </div>

    </div>
    <hr class="form-line">
    <h4 class="text-center text-white">Top Rated Books</h4>
    <hr class="form-line">
    <div id="result" class="d-flex flex-row w-100 justify-content-center">
        <th:block th:each="book : ${viewModel}" th:object="${book}">
                <a th:href="|/books/details/*{id}|" class="d-flex flex-column w-20 rounded app-color-prime mx-auto justify-content-center book-list-element">
                    <div class="d-flex flex-row rounded w-75">
                        <img th:src="*{coverImageUrl}" class="front-page-img align-self-center m-2">
                    </div>
                    <div class="d-flex flex-column w-100 rounded">

                        <h6 class="text-white text-center" th:text="*{title}" ></h6>
                        <h6 class=" text-muted text-center" th:text="*{authorName}" ></h6>
                    </div>
                </a>
        </th:block>
    </div>
</div>
