<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<div class="container-fluid justify-content-around app-color rounded">
    <div class="jumbotron app-color app-color-third">
        <h1 class="text-center">BookStore </h1>
        <hr class="home"/>
        <h2 class="text-center">100% DRM free books, waiting for you.</h2>
        <h3 class="text-center">Start your journey right <a href="/books/all">here</a>.</h3>
        <div>
        </div>

    </div>
    <hr class="form-line">
    <h4 class="text-center text-white">Top Rated Books</h4>
    <hr class="form-line">
    <div id="result" class="d-flex flex-row w-100 justify-content-center">
        <th:block th:each="book : ${viewModel}" th:object="${book}">
                <a th:href="|/books/details/*{id}|" class="d-flex flex-column w-20 rounded app-color-prime mx-auto justify-content-center book-list-element">
                    <div class="d-flex flex-row rounded w-75">
                        <img th:src="*{coverImageUrl}" class="front-page-img align-self-center m-2">
                    </div>
                    <div class="d-flex flex-column w-100 rounded">

                        <h6 class="text-white text-center" th:text="*{title}" ></h6>
                        <h6 class=" text-muted text-center" th:text="*{authorName}" ></h6>
                    </div>
                </a>
        </th:block>
    </div>
</div>
