<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
<div class="container-fluid justify-content-around app-color rounded">
    <div class="jumbotron app-color">
        <h1>Eventures - The best ticket service in the world. </h1>
        <hr class="home"/>
        <h3><a href="/users/login" th:text="Login"></a> to start "eventing".</h3>
        <h3><a href="/users/register" th:text="Register"></a> if you don't have an account.</h3>
        <div>
        </div>

    </div>
    <div id="result" class="d-flex justify-content-center">
        <div class="custom-file w-50 " id="customFile">
            <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp" multiple>
            <label class="custom-file-label" for="exampleInputFile">
                Select game images...
            </label>
        </div>
    </div>
</div>