<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<h1 class="text-white text-center">Manage publishers</h1>
<hr class="form-line">
<div class="w-75 mx-auto d-flex justify-content-between my-auto">
    <div class="d-flex w-50 justify-content-center d-inline">
        <div class="mx-auto">
            <input type="radio" name="approve" id="approved">
            <label for="approved" class="text-white">Approved</label>
        </div>
        <div class="mx-auto">
            <input type="radio" name="approve" id="not-approved">
            <label for="not-approved" class="text-white">Not Approved</label>
        </div>

    </div>
    <div class="d-flex w-50 justify-content-center d-inline">
        <form class="form-inline flex-row flex-wrap">
            <input type="text" id="search-text" class=" form-control rounded" placeholder="Company name">
            <button class="btn btn-info ml-3  form-control" id="search">Search</button>
        </form>
    </div>
</div>
<hr class="form-line">
<div id="result">
</div>
<div class="d-flex align-self-center justify-content-center mt-3">
    <button class="page-link rounded font-weight-bold" id="previous-page"><</button>
    <input type="text" class="page-link w-5 rounded font-weight-bold text-center" id="current-page">
    <button class="page-link rounded w-5 font-weight-bold" id="total-pages" disabled></button>
    <button class="page-link rounded font-weight-bold" id="next-page">></button>
</div>
<script src="/js/scripts/manage-publishers.js"></script>