<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<div class="jumbotron-fluid">
    <h2 class="text-center text-white">Publisher</h2>
</div>
<hr class="form-line">
<div class="d-flex justify-content-lg-center container app-color-prime rounded">
    <div class="col-lg-6 align-items-lg-center " th:object="${viewModel}">
        <form th:action="|/publishers/approve/*{id}|" method="post">
            <br>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group w-75">
                    <label class="text-white" th:for="${#ids.next('companyName')}">Company name</label>
                    <input type="text" class="form-control" th:field="*{companyName}" disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('vatNumber')}">VAT Number</label>
                    <input type="text" class="form-control" th:field="*{vatNumber}"  disabled>

                </div>
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('legalForm')}">Legal form</label>
                    <input type="text" class="form-control"  th:field="*{legalForm}" disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group w-75">
                    <label class="text-white" th:for="${#ids.next('billingAddress')}">Billing address</label>
                    <input type="text" class="form-control "  th:field="*{billingAddress}" disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group" >
                    <label class="text-white" th:for="${#ids.next('city')}">City</label>
                    <input type="text" class="form-control" th:field="*{city}" disabled>
                </div>
                <br>
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('postalCode')}">Postal code</label>
                    <input type="text" class="form-control"  th:field="*{postalCode}" disabled>
                </div>
                <br>
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('country')}">Country</label>
                    <input type="text" class="form-control" th:field="*{country}"  disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group w-75">
                    <label class="text-white" th:for="${#ids.next('companyEmail')}">Comapny email</label>
                    <input type="text" class="form-control" th:field="*{companyEmail}" disabled>
                </div>
            </div>
            <hr class="form-line">
            <div class="d-flex justify-content-center justify-content-around mb-3">
                <button class="btn btn-primary" type="submit" sec:authorize="hasAnyAuthority('ROOT','ADMIN')" th:if="!*{isApproved}">Approve</button>
                <a class="btn btn-danger" th:if="!*{isApproved}" sec:authorize="hasAnyAuthority('ROOT','ADMIN')" th:href="|/publishers/delete/*{id}|">Dont approve</a>
                <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" th:if="*{isApproved}" sec:authorize="hasAnyAuthority('ROOT','ADMIN')">Delete</a>
                <a class="btn btn-info" th:if="*{isApproved}" sec:authorize="hasAnyAuthority('ROOT','ADMIN')" th:href="|/publishers/edit/*{id}|">Edit</a>
                <a class="btn btn-light" href="/publishers/manage">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete publisher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete this publisher ? All his books will be deleted as well !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger text-white" th:if="${viewModel.isApproved}" sec:authorize="hasAnyAuthority('ROOT','ADMIN')" th:href="|/publishers/delete/*{id}|">Delete</a>
            </div>
        </div>
    </div>
</div>