<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<div class="jumbotron-fluid">
    <h2 class="text-center text-white">Publisher</h2>
</div>
<hr class="form-line">
<div class="d-flex justify-content-lg-center container">
    <div class="col-lg-6 align-items-lg-center " th:object="${viewModel}">
        <form th:action="|/publishers/approve/*{id}|" method="post">
            <br>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group w-75">
                    <label class="text-white" th:for="${#ids.next('companyName')}">Company name</label>
                    <input type="text" class="form-control" th:field="*{companyName}" disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('vatNumber')}">VAT Number</label>
                    <input type="text" class="form-control" th:field="*{vatNumber}"  disabled>

                </div>
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('legalForm')}">Legal form</label>
                    <input type="text" class="form-control"  th:field="*{legalForm}" disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group w-75">
                    <label class="text-white" th:for="${#ids.next('billingAddress')}">Billing address</label>
                    <input type="text" class="form-control "  th:field="*{billingAddress}" disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group" >
                    <label class="text-white" th:for="${#ids.next('city')}">City</label>
                    <input type="text" class="form-control" th:field="*{city}" disabled>
                </div>
                <br>
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('postalCode')}">Postal code</label>
                    <input type="text" class="form-control"  th:field="*{postalCode}" disabled>
                </div>
                <br>
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('country')}">Country</label>
                    <input type="text" class="form-control" th:field="*{country}"  disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group">
                    <label class="text-white" th:for="${#ids.next('companyEmail')}">Comapny email</label>
                    <input type="text" class="form-control" th:field="*{companyEmail}" disabled>
                </div>
            </div>
            <hr class="form-line">
            <div class="d-flex justify-content-center justify-content-around">
                <button class="btn btn-primary" type="submit" th:if="!*{isApproved}">Approve</button>
                <a class="btn btn-danger" sec:authorize="hasAuthority('ROOT')" th:href="|/publishers/delete/*{id}|">Delete</a>
                <a class="btn btn-info" href="/publishers/manage">Cancel</a>
            </div>
        </form>
    </div>
</div>