<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<div class="jumbotron-fluid">
    <h2 class="text-center text-white">Register your company</h2>
</div>
<hr class="form-line">
<div class="d-flex justify-content-lg-center container app-color-prime rounded">
    <div class="col-lg-6 align-items-lg-center">
        <form action="/publishers/register" method="post" th:object="${viewModel}">
            <br>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group w-75" th:classappend="${#fields.hasErrors('companyName')} ? 'is-invalid'">
                    <label class="text-white" th:for="${#ids.next('companyName')}">Company name</label>
                    <input type="text" class="form-control text-white" th:errorclass="is-invalid" th:field="*{companyName}" placeholder="Company name">
                    <span class="help-block invalid-feedback" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group" th:classappend="${#fields.hasErrors('vatNumber')}? 'is-invalid'">
                    <label class="text-white" th:for="${#ids.next('vatNumber')}">VAT Number</label>
                    <input type="text" class="form-control text-white" th:errorclass="is-invalid" th:field="*{vatNumber}" placeholder="VAT number">
                    <span class="help-block invalid-feedback" th:if="${#fields.hasErrors('vatNumber')}" th:errors="*{vatNumber}"></span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('legalForm')}? 'is-invalid'">
                    <label class="text-white" th:for="${#ids.next('legalForm')}">Legal form</label>
                    <input type="text" class="form-control text-white" th:errorclass="is-invalid" th:field="*{legalForm}" placeholder="Legal form">
                    <span class="help-block invalid-feedback" th:if="${#fields.hasErrors('legalForm')}" th:errors="*{legalForm}"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group w-75" th:classappend="${#fields.hasErrors('billingAddress')} ? 'is-invalid'">
                    <label class="text-white" th:for="${#ids.next('billingAddress')}">Billing address</label>
                    <input type="text" class="form-control text-white" th:errorclass="is-invalid" th:field="*{billingAddress}" placeholder="Billing address">
                    <span class="help-block invalid-feedback" th:if="${#fields.hasErrors('billingAddress')}" th:errors="*{billingAddress}"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group" th:classappend="${#fields.hasErrors('city')}? 'has-danger'">
                    <label class="text-white" th:for="${#ids.next('city')}">City</label>
                    <input type="text" class="form-control text-white" th:errorclass="is-invalid" th:field="*{city}" placeholder="City">
                    <span class="help-block invalid-feedback" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
                <br>
                <div class="form-group" th:classappend="${#fields.hasErrors('postalCode')} ? 'is-invalid'">
                    <label class="text-white" th:for="${#ids.next('postalCode')}">Postal code</label>
                    <input type="text" class="form-control text-white" th:errorclass="is-invalid" th:field="*{postalCode}" placeholder="Postal code">
                    <span class="help-block invalid-feedback" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
                </div>
                <br>
                <div class="form-group">
                    <label class="text-white w-50">Country</label>
                    <br>
                    <select id="select-genre" class="selectpicker" data-live-search="true" th:field="*{country}">
                        <th:block th:each="country : ${T(app.project.gamestart.domain.enums.Country).values()}">
                            <option th:value="${country}" th:text="${country.getFullName()}"></option>
                        </th:block>
                    </select>
                    <br>
                    <span class="help-block small text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
                    <br>
                </div>
            </div>
            <div class="d-flex justify-content-between container-fluid">
                <div class="form-group" th:classappend="${#fields.hasErrors('companyEmail')} ? 'is-invalid'">
                    <label class="text-white" th:for="${#ids.next('companyEmail')}">Comapny email</label>
                    <input type="text" class="form-control text-white" th:errorclass="is-invalid" th:field="*{companyEmail}" placeholder="Company email">
                    <span class="help-block invalid-feedback" th:if="${#fields.hasErrors('companyEmail')}" th:errors="*{companyEmail}"></span>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <hr class="form-line">
            <button class="btn app-color offset-md-5" type="submit">Send application</button>
        </form>
    </div>
</div>